body{
    background-color: hsl(206, 96%, 10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#cell-container{
    display: grid;
    grid-template-columns: repeat(3 ,auto);
    margin: auto;
    gap: 12px;
}
.cell{
    border: 1px solid hsl(206, 96%, 10%);
    height: 75px;
    width: 75px;
    line-height: 70px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(50, 71, 139);   
    cursor: pointer;
    transition: 0.5s background;
   
}
.cell:hover{
    background-color:  hsl(206, 81%, 60%);
}
#header{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(50, 71, 139);
    line-height: 40px;
    letter-spacing: 9px;
    font-weight: bold;

}   
button{
    padding: 15px;
    width: 250px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 10px;
    background-color: rgb(50, 71, 139);
    color: white;
    cursor: pointer;
    transition: 0.2s background;
}
button:hover{
    background-color: hsl(206, 81%, 60%);
}
#statusTxt{
    color: white;
    letter-spacing: 5px;
}